* {
  margin: 0;
}

.top {
  background-color: #fafafc;
}

.top1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top1 a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.top1 a:hover {
  overflow: visible;
  background-color: chocolate;
  cursor: pointer;
}

.top2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.top2 img {
  width: 45px;
  height: 45px;
  margin: 3px 13px;
}

.top2 span {
  display: flex;
  font-size: 10px;
  align-self: center;
  justify-content: center;
  margin-top: 5px;
  margin: 1px 13px;
}

.mid {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 30px 90px;
}

.video1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin: auto;
  height: 500px;
  width: 800px;
}

.img3 img {
  width: 344px;
  height: 628px;
  border-radius: 30px;
  margin: 20px 7px;
}

.img3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 1s;
}

.img3 img:hover {
  transform: translate(10px, 10px);
  transform: scale(1.01);
}

.bt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 50%;
}

.bt:hover {
  background-color: white;
}
