* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

* a:hover {
  text-decoration: underline;
  color: rgb(153, 40, 134);
}

.top {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 25px;
}

.top a {
  padding: 15px;
}

.top-left {
  margin-left: 30px;
}

.top-right {
  position: absolute;
  right: 40px;
  top: 40px;
}

.top-right button {
  background-color: rgb(53, 81, 238);
  border-radius: 30px;
  width: 90px;
  height: 40px;
  font-size: 20px;
}

.top-right button:hover {
  color: #fff;
  text-decoration: underline;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center img {
  position: relative;
  left: 100px;
}

.search-bar {

  padding-left: 25px;
  border-color: black;
  height: 50px;
  width: 800px;
  border-radius: 60px;
  color: black;
}

.button-group {
  width: 480px;
  margin: 20px auto;
}

.button-group button {
  font-size: 30px;
  background-color: #dddcdc;
  border: none;
}

.footer {
  background-color: #d2d2d2;
  width: 100vw;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.footert {
  margin: 15px 0;
  height: 30px;
  padding-left: 30px;
  border-bottom: 1px solid;
  border-bottom-color: red;
}

.zxc {
  height: 30px;
}

.footerbl {
  position: absolute;
  left: 30px;
}

.footerbl a {
  color: #000;
  display: inline-block;
}

.footerbr {
  position: absolute;
  right: 30px;
}

.footerbr a {
  color: #000;
  display: inline-block;
}
