.bottomvideo {
  height: 672px;
  width: 1920px;
  position: relative;
  margin: 0 auto;
}

.bottomvideo video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  margin: 0 auto;
}

.bottomvideo .bottomvideobtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottomvideobtn button {
  width: 180px;
  height: 65px;
  background-color: var(--golden);
  border: none;
  padding: 15px 35px;
}
