.discover {
  width: 1920px;
  height: 650px;
  background-color: var(--white);
  margin: 0 auto;
}

.discovertitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discovertitle h2 {
  margin-top: 50px;
}

.discovertitle h1 {
  margin-top: 10px;
}

.discoverbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.leftbox,
.rightbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  margin: 10px;
}

.leftbox *,
.rightbox * {
  margin-bottom: 20px;
}

.leftbox img,
.rightbox img {
  width: 360px;
  height: 200px;
  overflow: hidden;
  transition: 0.3s;
}

.leftbox img:hover,
.rightbox img:hover {
  transform: scale(1.3);
}

.boxtitle span:nth-child(1) {
  color: var(--golden);
}

.boxtitle {
  display: flex;
  align-items: center;
}
