.map {
  width: 1920px;
  height: 950px;
  background-image: url(/image/map/mapbg.webp);
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.map * {
  color: var(--white);
}

.mapleft {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  filter: grayscale(90%);
}

.module img {
  width: 62px;
  height: 62px;
}

.module.active {
  color: var(--golden);
  filter: grayscale(0%);
}

.module:hover {
  transform: scale(1.2);
}

.type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mapleft button {
  width: 145px;
  height: 65px;
  background-color: var(--golden);
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  color: var(--black);
  margin-top: 60px;
}

.mapright {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.mapright video {
  width: 558px;
  height: 558px;
  user-select: none;
  pointer-events: none;
  border-radius: 50%;
  border: 1px solid var(--golden);
  outline-offset: 20px;
  outline: 1px solid var(--golden);
}
