.slay {
  width: 1920px;
  height: 800px;
  background-image: url(/image/slaybg.webp);
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.slayimg {
  display: flex;
  flex: 1;
  margin-left: 200px;
}

.slaydesc {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slaydesc * {
  color: var(--white);
  margin: 5px;
}

.slaydesc button {
  width: 145px;
  height: 65px;
  background-color: var(--golden);
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  color: var(--black);
  margin-top: 60px;
}
